$primary-color: #3f55ab;
$primary-color-dark: #384991;
$secondary-color: #ffa600;
$secondary-color-dark: #d78c0d;
$background-color:#fafafa;
$border-light-color: #e3e3e3;
$border-color-dark: #444444;
$scrollbar-background-color : #f1f1f1;
$scrollbar-thumb-color : #888;
$scrollbar-thumb-hover-color : #555;
$standard-text-color : #444444;
