.social-course-container ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.social-course-container ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.social-course-container ::-webkit-scrollbar-thumb {
  background: #888;
}
.social-course-container ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.social-course-container .v-window-item, .social-course-container .v-window-item--active {
  background: #fafafa !important;
  background-color: #fafafa !important;
}
.social-course-container .v-text-field__details {
  display: none !important;
}
.social-course-container .theme--dark.v-tabs > .v-tabs-bar {
  background: #3f55ab !important;
  background-color: #3f55ab !important;
}
.social-course-container .theme--dark.v-tabs > .v-tabs-bar a {
  text-decoration: none !important;
}
.social-course-container .v-input input {
  display: none;
}
.social-course-container .sc-btn-primary {
  background: #3f55ab !important;
  background-color: #3f55ab !important;
  border: 1px solid #384991 !important;
  color: white !important;
  box-shadow: none !important;
  outline: none !important;
  transition: all 0.3s ease;
  border-radius: 50px;
  box-shadow: none !important;
  text-shadow: none !important;
  font-size: 0.9rem !important;
  font-weight: 500 !important;
  height: 28px;
  letter-spacing: 0;
}
.social-course-container .sc-btn-primary i {
  font-size: 1rem !important;
  color: white !important;
}
.social-course-container .sc-btn-secondary {
  background: #ffa600 !important;
  background-color: #ffa600 !important;
  border: 1px solid #d78c0d !important;
  color: white !important;
  box-shadow: none !important;
  outline: none !important;
  transition: all 0.3s ease;
  border-radius: 50px;
  box-shadow: none !important;
  text-shadow: none !important;
  font-size: 0.9rem !important;
  font-weight: 500 !important;
  height: 28px;
  letter-spacing: 0;
}
.social-course-container .sc-btn-secondary i {
  font-size: 1rem !important;
  color: white !important;
}
.social-course-container .sc-btn-gray {
  background: white !important;
  background-color: white !important;
  border: 1px solid #444444 !important;
  color: #444444 !important;
  box-shadow: none !important;
  outline: none !important;
  transition: all 0.3s ease;
  border-radius: 50px;
  box-shadow: none !important;
  text-shadow: none !important;
  font-size: 0.9rem !important;
  font-weight: 500 !important;
  height: 28px;
  letter-spacing: 0;
}
.social-course-container .sc-btn-gray i {
  font-size: 1rem !important;
  color: #444444 !important;
}
.social-course-container .unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.social-course-container .d-none {
  display: none !important;
}

#publications #create-publication {
  background: white !important;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
#publications .upload-file-container {
  border: 1px solid #dedede;
  border-radius: 4px;
  overflow: hidden;
  min-width: 180px !important;
  width: 180px !important;
  max-width: 180px !important;
}
#publications .upload-file-container .upload-file-header, #publications .upload-file-container .upload-file-footer {
  background: white;
  text-transform: uppercase;
}
#publications .upload-file-container .upload-file-content {
  min-height: 150px !important;
}
#publications .upload-file-container .fit-image-to-parent {
  min-height: 180px !important;
  max-height: 180px !important;
}
#publications .upload-file-container #preview-image-container {
  max-height: 250px;
  overflow-y: scroll;
  background: #eeeeee;
  border: 1px solid #ccc;
}
#publications .upload-file-container #preview-image-container .image-container {
  min-width: 150px;
  min-height: 100px;
  height: 150px;
  width: 100px;
  max-width: 150px;
  max-height: 100px;
  position: relative;
}
#publications .upload-file-container #preview-image-container .image-container img {
  width: 100%;
  height: 100%;
  border: 1px solid #888888;
}
#publications .upload-file-container #preview-image-container .delete-image {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  transition: all 0.5s ease;
  text-align: right;
}
#publications .upload-file-container #preview-image-container .delete-image i {
  opacity: 1;
  color: #444444 !important;
  cursor: pointer !important;
}
#publications .upload-file-container #preview-image-container .label-input-image {
  cursor: pointer;
}
#publications .upload-file-container #preview-image-container #photos-container .hidden {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
#publications .remove-file {
  cursor: pointer;
}
#publications #attachments-container {
  overflow-x: scroll !important;
  background: #f1f1f1;
}
#publications .current-photo-attachment {
  font-size: 1rem !important;
  font-weight: bold;
}
#publications .max-photo-attachment {
  font-size: 1rem !important;
}
#publications .max-upload-limited-exceeded, #publications .max-upload-limited-exceeded * {
  color: #e3e3e3 !important;
  border-color: #e3e3e3 !important;
}
#publications .search-field input {
  display: block !important;
  box-shadow: none !important;
  border: 0px;
  margin: 0;
}
#publications .v-card__title {
  background: #3f55ab !important;
  background-color: #3f55ab !important;
  text-transform: uppercase;
  color: white !important;
}
#publications .people-container {
  border: 1px solid #e3e3e3;
  height: 300px;
  max-height: 250px;
  overflow-y: scroll;
}
#publications [role=listitem]:not(:first-child),
#publications .v-card__actions {
  border-top: 1px solid #e3e3e3 !important;
}

/*# sourceMappingURL=styles.css.map */
